@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    overflow:hidden;
}

/* Fondo */

section{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:linear-gradient(to bottom,#6bb6ff,#eaf6ff);
}

/* Luces de fondo */

.color{
    position:absolute;
    filter:blur(120px);
}

.color:nth-child(1){
    top:-100px;
    width:400px;
    height:400px;
    background:#4d7cff;
}

.color:nth-child(2){
    bottom:-100px;
    left:100px;
    width:350px;
    height:350px;
    background:#8ed0ff;
}

.color:nth-child(3){
    bottom:50px;
    right:100px;
    width:300px;
    height:300px;
    background:#c9ecff;
}

/* Caja principal */

.window{
    position:relative;
    width:400px;
    padding:40px;
    border-radius:20px;
    background:rgba(255,255,255,0.25);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.4);
    box-shadow:0 25px 45px rgba(0,0,0,0.15);
    z-index:1000;
}

/* Barra superior */

.topbar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:12px 20px;
    border-radius:20px 20px 0 0;
    background:linear-gradient(to right,#0066ff,#00aaff);
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:14px;
    font-weight:600;
}

/* Botones */

.window-buttons span{
    width:18px;
    height:18px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,255,255,0.3);
    border-radius:4px;
    margin-left:5px;
    font-size:11px;
}

/* Contenido */

.content{
    margin-top:40px;
    text-align:center;
}

.icon{
    font-size:55px;
    margin-bottom:10px;
}

h1{
    color:rgb(23, 139, 58);
    font-size:32px;
    margin-bottom:5px;
}

h2{
    color:rgb(1, 10, 3);
    font-size:18px;
    margin-bottom:20px;
}

.text{
    color:rgb(23, 139, 58);
    font-size:14px;
    margin-bottom:25px;
}

/* Inputs */

.inputBox{
    margin-top:20px;
}

.inputBox input{
    width:100%;
    padding:12px 20px;
    border:none;
    outline:none;
    border-radius:35px;
    background:rgba(255,255,255,0.35);
    color:rgb(5, 0, 0);
    font-size:15px;
}

.inputBox input::placeholder{
    color:rgb(5, 0, 0);
}

/* Botón */

.buttonBox{
    margin-top:25px;
}

.buttonBox input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:35px;
    background:white;
    color:#0077ff;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.buttonBox input:hover{
    transform:scale(1.03);
    background:#eef8ff;
}

/* Error */

.error-box{
    margin-top:25px;
    padding:15px;
    border-radius:15px;
    background:rgba(0,0,0,0.25);
    color:white;
    display:none;
}

.error-box h3{
    color:#ff4d6d;
    margin-bottom:10px;
}

